# Node modules
node_modules/

# Environment variables
.env
safely-home-frontend/.env
safely-home-backend/.env

# Build output
build/
dist/
frontend/dist/
backend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
